<div class="container mt-4">
  <h3>Reactive From Hero</h3>

  <form (ngSubmit)="createHero()" [formGroup]="form">
    <div class="mb-3">
      <label for="name" class="form-label">Name Hero</label>
      <input
        type="text"
        class="form-control"
        name="name"
        formControlName="name"
        required
      />
    </div>
    <div class="mb-3">
      <label for="alterEgo" class="form-label">Alter Ego Hero</label>
      <input
        type="text"
        class="form-control"
        name="alterEgo"
        formControlName="AlterEgo"
        required
      />
    </div>
    <div class="mb-3">
      <label for="power" class="form-label">Power</label>
      <select
        class="form-select"
        name="power"
        aria-label="Default select example"
        required
        formControlName="power"
      >
        <option selected>Select Hero Power</option>
        <option>Flying</option>
        <option>Mindreader</option>
        <option>Ubiquity</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="enemy" class="form-label">Enemy Hero</label>
      <input
        type="text"
        class="form-control"
        name="enemy"
        formControlName="enemyHero"
        required
        maxlength="10"
        aria-describedby="planetHelp"
      />
      <div id="enemyHelp" class="form-text">Max 10 characters</div>
    </div>
    <div class="mb-3">
      <label for="planet" class="form-label">Planet Hero</label>
      <input
        formControlName="planetHero"
        type="text"
        class="form-control"
        name="planet"
        aria-describedby="planetHelp"
        required
        minlength="5"
      />
      <div id="planetHelp" class="form-text">Min 5 characters</div>
    </div>
    <div class="mb-3">
      <label for="weakness" class="form-label">Weakness</label>
      <input
        type="text"
        class="form-control"
        name="weakness"
        formControlName="weakness"
      />
    </div>
    <button type="submit" class="btn btn-primary">Create Hero</button>
  </form>
  <hr />
</div>
